<div class="row">
    <div class="col">
        {{# each posts as |post|}}
            <div class="row bg-light m-2 px-3">
                <div class="col-12">
                   Uploaded by: {{post.user.name}}
                </div>
                <div class="col-12">
                    {{post.text}}
                </div>
                {{#if post.pic}}

                        <img src="/upload/{{post.address}}" style='height: 100%; width: 100%; object-fit: contain'>
                {{/if}}
                <div class="col-12 mt-4" id="{{post.id}}">

                        <div class="row">
                            {{#if post.likes.0.value}}
                                <div class="col-3" id="N{{post.id}}">
                                   <i class="fa fa-thumbs-up " onclick="like_post({{post.id}},-1,{{post.vote}},0),abv()" style="font-size:30px" ></i>

                                   <i class="far fa-thumbs-down mt-1"onclick="like_post({{post.id}},-2,{{post.vote}},1),abv()" style="font-size:30px" ></i>
                                </div>
                            {{else}}

                                {{#if post.dislikes.0.value}}
                                    <div class="col-3"  id="N{{post.id}}">
                                        <i class="far fa-thumbs-up" onclick="like_post({{post.id}},2,{{post.vote}},1),abv()" style="font-size: 36px" aria-hidden="true"></i>
                                        <i class="fa fa-thumbs-down"onclick="like_post({{post.id}},1,{{post.vote}},0),abv()" style="font-size:36px"aria-hidden="true"></i>
                                    </div>
                                {{else}}
                                    <div class="col-3" id="N{{post.id}}">

                                        <i class="far fa-thumbs-up" onclick="like_post({{post.id}},1,{{post.vote}},1),abv()" style="font-size: 36px" aria-hidden="true"></i>
                                        <i class="far fa-thumbs-down"onclick="like_post({{post.id}},-1,{{post.vote}},1),abv()" style="font-size:36px"aria-hidden="true"></i>
                                    </div>
                                {{/if}}
                            {{/if}}
                            <div class="col-3">
                                <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#{{post.id}}" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="far fa-comment-alt" style="font-size:30px"></i>

                                </button>
                                <!-- working-->           <div class="collapse" id="{{post.id}}">
                                <div class="card card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                            </div>
                            <div class="offset-4 col-1">
                                {{# if ../delButton}}
                                        <i class="fas fa-trash-alt" style="font-size:30px" onclick="deletePost({{post.id}})"></i>
                                {{/if}}
                            </div>
                        </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
