<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/viewJs/post.js"></script>
    <script src="/js/viewJs/achievement.js"></script>
    <script src="/js/viewJs/comment.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>
    <script src="/js/viewJs/chat.js"></script>-->
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-end">

            {{#if nav.username}}
                    <a class="nav-link px-4" href="http://localhost:8888/{{nav.username}}" style="font-size:15px">Home</a>


                    <a class="nav-link px-4" href="http://localhost:8888/{{nav.username}}/profile" style="font-size:15px">Profile</a>

                    <a class="nav-link px-4" href="http://localhost:8888/{{nav.username}}/Mypost" style="font-size:15px">Mypost</a>

                    <a class="nav-link px-4" href="http://localhost:8888/{{nav.username}}/achievement" style="font-size:15px">Achievement</a>

                    <a class="nav-link px-4" href="http://localhost:8888/{{nav.username}}/profile" style="font-size:15px">Notification</a>

                    <a class="nav-link px-4" href="http://localhost:8888/logout" style="font-size:15px">Logout</a>

                {{else}}
                    <a class="nav-link px-4" href="http://localhost:8888/user/home" style="font-size:15px">Features</a>
                    <a class="nav-link  px-4" href="http://localhost:8888/auth/signin" style="font-size:15px">Signin</a>

                    <a class="nav-link px-4" href="http://localhost:8888/auth/signup" style="font-size:15px">Signup</a>
                    <a class="nav-link px-4" href="http://localhost:8888/user/achievement" style="font-size:15px">Leaderboard</a>
            {{/if}}
        </ul>
    </div>
</nav>
{{{body}}}
</body>
</html>