<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light ">
            <div class="row">

                <div class="col" >
                    <i class="fas fa-user-circle " style="font-size:200px"></i>

                    <div  class="text-center nav flex-column nav-pills">
                        <div>
                            <a class="nav-link " href="http://localhost:2400/user/home" style="font-size:15px">Home</a>

                        </div>

                        <div>

                            <a class="nav-link "href="http://localhost:2400/user/Mypost"style="font-size:15px">My Profile</a>
                        </div>
                        <div>

                            <a class="nav-link active"href="http://localhost:2400/user/achievement" style="font-size:15px">Achievement</a>
                        </div>
                        <div>

                            <a class="nav-link" href="http://localhost:2400/user/Mypost" style="font-size:15px">Notifications</a>
                        </div>
                        <div>

                            <a class="nav-link"href="http://localhost:2400/user/profile"style="font-size:15px">Edit Profile</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-8 text-center">
            <div>

                <h2 class="bg-light py-3">Achievement</h2>
            </div>
            <div class="jumbotron pt-4">
                {{#if data}}
                    <div class="row">
                        <div class="col">
                            Post :
                        </div>
                        {{#if data.pic}}

                            <div class="col">
                                <img src="/upload/{{data.address}}">
                            </div>
                        {{else}}
                            <div class="col">
                                {{data.text}}
                            </div>
                        {{/if}}
                    </div>
                    <div class="row">
                        <div class="col">
                            Votes on Post :
                        </div>
                        <div class="col">
                            {{data.vote}}
                        </div>
                    </div><div class="row">
                    <div class="col">
                        Post Created on:
                    </div>
                    <div class="col">
                        {{data.createdAt}}
                    </div>
                </div>
                {{else}}

                <div class="row">
                    <div class="col alert-danger">
                        Sorry , you have not send any post
                    </div>
                </div>
                {{/if}}

            </div>
        </div>
    </div>

</div>

</body>
</html>