<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/post.js"></script>
    <title>home</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">

            <div class="col-2 bg-light">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Posts</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Achievements</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Edit Profile</a>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>

        </div>
        <div class="col">
            <p>Hi,{{posts.UserName}}</p>
            <form action="/post" method="post">
                <div class="form-group">
                    <div class="my-2">

                        <textarea class="form-control" name="text" placeholder="What's on your Mind" rows="3"></textarea>

                    </div>

                    <div>
                        <input type="hidden" name="userId" value="{{posts.UserId}}">
                    </div>
                    {{#if posts.active}}
                        <button type="submit" class="btn btn-primary px-4 ">Post</button>dis
                    {{else}}
                        <button type="submit" class="btn btn-primary px-4 disabled" disabled>Post</button>
                    {{/if}}

                </div>
            </form>
            {{#each posts as |post|}}
                <div class="bg-light py-2 px-2 my-2">
                    <div class="bg-white">{{post.user.name}}</div>
                    <div >

                        {{post.text}}

                    </div>
                    <div class="row mt-3">

                        <div class="col-lg-1 col-sm-2" >
                            <i class="fa fa-thumbs-o-up" onclick="like_post({{post.id}},1,{{post.user.id}})" style="font-size: 36px" aria-hidden="true"></i></div>
                        <div class="col-lg-1 col-sm-2">
                            <i class="fa fa-thumbs-o-down"onclick="like_post({{post.id}},-1,{{post.user.id}})" style="font-size:36px"aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            {{post.vote}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

    </div>
</div>
</body>
</html>