


        <div class="container bg-light mt-4 pb-2">
            <div class="row">

                <div class="col-md-10 offset-1">
                <span>
                    <h2 class=" my-0 text-center py-3">Edit Profile</h2>
                </span>
                </div>
            </div>
                <form action="/user/editProfile" method="post" >
                        <div class="row">
                            <div class="form-group col-md-4  offset-2">
                                <label for="exampleFormControlFile1" >Name</label>
                                <input type="text" name="name" class="form-control" id="name" value="{{user.name}}">
                            </div>
                            <div class="form-group col-md-4 ">
                                <label for="username" >Username</label>
                                <input type="text" name="username" class="form-control" id="username" value="{{user.username}}">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-4 offset-2">
                                <div class="form-group">
                                    <label for="college" >College Name</label>

                                  <input type="text" name="college" class="form-control " disabled id="college" value="{{user.college}}">
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <label for="email" >Email Id</label>
                                <input type="email" name="email" class="form-control" value="{{user.email}}" id="email">
                            </div>

                        </div>
                        {{#if user.success}}
                        {{else}}
                            {{#if user.status}}

                            <div class="alert alert-danger" role="alert">
                                {{user.status}}
                            </div>
                            {{/if}}
                        {{/if}}

                    <div class="row">
                        <div class="form-group col-md-4 offset-2">
                            <label for="courseYear" >Course Year</label>
                            <select type="text" name="courseYear" is="courseYear" class="form-control text-center">
                                <option value="">Course Year</option>
                                <option value="I">Ist Year</option>
                                <option value="II">IInd Year</option>
                                <option value="III">IIIrd Year</option>
                                <option value="IV">IV Year</option>
                                <option value="V"> Vth Year</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="oldP" >Old Password</label>
                            <input type="password" name="old_pass" class="form-control" id="oldP" >
                        </div>
                    </div>
                        <div class="row">
                            <div class="form-group col-md-4 offset-2">
                                <label for="newP" >New Password</label>
                                <input type="password" name="new_pass" class="form-control" id="newP" >
                            </div>
                            <div class="form-group col-md-4">
                                <label for="confP" >Confirm Password</label>
                                <input type="password" name="conf_pass" class="form-control" id="confP">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check offset-2">
                                <input class="form-check-input" type="checkbox" name="changeP"id="checkchange">
                                <label class="form-check-label" for="checkchange">
                                    Check it if you want to change password
                                </label>
                            </div>
                        </div>
                            <button  type="submit" class="btn btn-primary offset-5 ">Submit Changes</button>
                    </form>
        </div>

