<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        {{#if otherUsername}}
            <div class="col-2 bg-light text-center">
                <h4 class="bg-dark text-white  py-2 mt-1">Badges </h4>
                <div class="bg-dark text-white py-2 mt-1">Trophy:{{badge.Trophy}}</div>
                <div class="bg-dark text-white py-2 mt-1">Gold:{{badge.Gold}}</div>
                <div class="bg-dark text-white py-2 mt-1">Silver:{{badge.Silver}}</div>
                <div class="bg-dark text-white py-2 mt-1">Bronze:{{badge.Bronze}}</div>
            </div>
        {{else}}
            {{>collegues}}
        {{/if}}
        <div class="col" style="float:left;overflow-y: auto;height: 780px;">
            <h2 class="text-center" style="font-family: Century">
                {{#if otherUsername}}
                    {{otherUsername}}'s Uploads
                {{else}}
                    Your Uploads
                {{/if}}
            </h2>

            <div id="posts">
                {{>searched_post}}
            </div>
        </div>
            {{>ranker}}
    </div>
</div>