<div class="container">

</div><div class="row">
    <div class="col-md-5 offset-3">
        <div class="card text-center mt-md-5">
            <div class="card-header">
                <h3>Profile detail</h3>
            </div>
            <div class="card-body">
                <h5 class="card-text mt-1"><span><strong> Username : </strong> {{r.user.username}}</span></h5>
                <h5 class="card-text"><span><strong> College : </strong>{{ r.user.college}}</span></h5>
                <h5 class="card-text"><span><strong> Email : </strong>{{ r.user.email}}</span></h5>
                <h5 class="card-text"><span><strong> Total Posts : </strong>{{ r.user.state}}</span></h5>
                <h5 class="card-text"><span><strong> Badges : </strong>{{ r.user.phn}}</span></h5>

                <a href="/user/editProfile" class="btn btn-danger">Edit Profile</a>
            </div>
        </div>
    </div>
</div>